data
*.pyc
__pycache__
.vscode
**/*.ipynb_checkpoints
wandb
logs
results
site
*.DS_Store
**/*checkpoints
/**/*.html
py_scripts
.ipynb_checkpoints
measurements/*.pickle
/forward_scripts/test_data
/forward_scripts/out
**/notebooks
dashboard
**/outputs

.git
data
docs
.tox
.mypy_cache
