absl-py==0.11.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
appnope==0.1.2; platform_system == "Darwin" and python_version >= "3.6" and sys_platform == "darwin"
argon2-cffi==20.1.0; python_version >= "3.5"
ase==3.20.1; python_version >= "3.6"
async-generator==1.10; python_version >= "3.6"
attrs==20.3.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
backcall==0.2.0; python_version >= "3.6"
bleach==3.2.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cached-property==1.5.2; python_version < "3.8" and python_version >= "3.6"
cachetools==4.2.0; python_version >= "3.5" and python_version < "4.0" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0")
certifi==2020.12.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
cffi==1.14.4; implementation_name === "pypy" and python_version >= "3.5"
chardet==4.0.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0"
configparser==5.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
cycler==0.10.0; python_version >= "3.6"
dataclasses==0.6; python_full_version >= "3.6.1"
decorator==4.4.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
defusedxml==0.6.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
docker-pycreds==0.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
entrypoints==0.3; python_version >= "3.6"
filelock==3.0.12
future==0.18.2; python_full_version >= "3.6.1"
gdown==3.12.2
gitdb==4.0.5; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
gitpython==3.1.11; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
google-auth-oauthlib==0.4.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
google-auth==1.24.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
googledrivedownloader==0.4; python_version >= "3.6"
gql==0.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
graphql-core==1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
grpcio==1.34.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
h5py==3.1.0; python_version >= "3.6"
hydra-core==0.11.3
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
imageio==2.9.0; python_version >= "3.6"
importlib-metadata==3.3.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.2.0" and python_version >= "3.6" and python_version < "3.8"
ipykernel==5.4.2; python_version >= "3.5"
ipython-genutils==0.2.0; python_version >= "3.5"
ipython==7.16.1; python_version >= "3.6"
ipywidgets==7.6.2
isodate==0.6.0; python_version >= "3.6"
jedi==0.18.0; python_version >= "3.6"
jinja2==2.11.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
joblib==1.0.0; python_version >= "3.6"
jsonpatch==1.28; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jsonpointer==2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jsonschema==3.2.0; python_version >= "3.5"
jupyter-client==6.1.7; python_version >= "3.6"
jupyter-core==4.7.0; python_version >= "3.6"
jupyterlab-pygments==0.1.2; python_version >= "3.6"
jupyterlab-widgets==1.0.0; python_version >= "3.6"
kiwisolver==1.3.1; python_version >= "3.6"
llvmlite==0.32.1; python_version >= "3.6"
markdown==3.3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
matplotlib==3.3.3; python_version >= "3.6"
mistune==0.8.4; python_version >= "3.6"
nbclient==0.5.1; python_version >= "3.6"
nbconvert==6.0.7; python_version >= "3.6"
nbformat==5.0.8; python_version >= "3.6"
nest-asyncio==1.4.3; python_version >= "3.6"
networkx==2.5; python_version >= "3.6"
notebook==6.1.6; python_version >= "3.5"
numba==0.49.1; python_version >= "3.6"
numpy==1.19.4; python_version >= "3.6"
nvidia-ml-py3==7.352.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
oauthlib==3.1.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
omegaconf==1.4.1
open3d==0.10.0.0
packaging==20.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pandas==1.1.5; python_full_version >= "3.6.1" and python_version >= "3.6"
pandocfilters==1.4.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
parso==0.8.1; python_version >= "3.6"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.6"
pickleshare==0.7.5; python_version >= "3.6"
pillow==8.1.0; python_version >= "3.6"
plyfile==0.7.2
prometheus-client==0.9.0; python_version >= "3.5"
promise==2.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
prompt-toolkit==3.0.8; python_full_version >= "3.6.1" and python_version >= "3.6"
protobuf==3.14.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
psutil==5.8.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
ptyprocess==0.7.0; os_name != "nt" and python_version >= "3.6" and sys_platform != "win32"
py==1.10.0; python_version >= "3.5" and python_full_version < "3.0.0" and implementation_name === "pypy" or implementation_name === "pypy" and python_version >= "3.5" and python_full_version >= "3.4.0"
pyasn1-modules==0.2.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
pyasn1==0.4.8; python_version >= "3.5" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_version >= "3.5" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and python_full_version >= "3.6.0"
pycparser==2.20; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
pygments==2.7.3; python_version >= "3.6"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyrsistent==0.17.3; python_version >= "3.5"
pysocks==1.7.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
python-dateutil==2.8.1; python_full_version >= "3.6.1" and python_version >= "3.6" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5")
python-louvain==0.15; python_version >= "3.6"
pytorch-metric-learning==0.9.96.dev1; python_version >= "3.0"
pytz==2020.5; python_full_version >= "3.6.1" and python_version >= "3.6"
pywavelets==1.1.1; python_version >= "3.6"
pywin32==300; sys_platform == "win32" and python_version >= "3.6"
pywinpty==0.5.7; os_name == "nt" and python_version >= "3.6"
pyyaml==5.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyzmq==20.0.0; python_version >= "3.5"
rdflib==5.0.0; python_version >= "3.6"
requests-oauthlib==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
requests==2.25.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
rsa==4.6; python_version >= "3.5" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
scikit-image==0.16.2; python_version >= "3.6"
scikit-learn==0.24.0; python_version >= "3.6"
scipy==1.5.4; python_version >= "3.6"
send2trash==1.5.0; python_version >= "3.5"
sentry-sdk==0.19.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
shortuuid==1.0.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
six==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
smmap==3.0.4; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
subprocess32==3.5.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version < "4"
tensorboard-plugin-wit==1.7.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
tensorboard==2.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.2.0")
terminado==0.9.2; python_version >= "3.6"
testpath==0.4.4; python_version >= "3.6"
threadpoolctl==2.1.0; python_version >= "3.6"
torch-cluster==1.5.8; python_version >= "3.6"
torch-geometric==1.6.3; python_version >= "3.6"
torch-points-kernels==0.6.10
torch-scatter==2.0.5; python_version >= "3.6"
torch-sparse==0.6.8; python_version >= "3.6"
torch==1.7.0; python_full_version >= "3.6.1"
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.8.1; python_version >= "3.0"
tornado==6.1; python_version >= "3.6"
tqdm==4.55.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==4.3.3; python_version >= "3.6"
typing-extensions==3.7.4.3; python_full_version >= "3.6.1" and python_version >= "3.6" and python_version < "3.8"
urllib3==1.26.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
visdom==0.1.8.9
wandb==0.8.36; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
watchdog==1.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.6"
webencodings==0.5.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
websocket-client==0.57.0; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
werkzeug==1.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
widgetsnbextension==3.5.1
zipp==3.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.2.0" and python_version >= "3.6" and python_version < "3.8"
