absl-py==0.9.0
alabaster==0.7.12
babel==2.8.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.3; sys_platform == "win32"
configparser==4.0.2
cycler==0.10.0
decorator==4.4.2
docker-pycreds==0.4.0
docutils==0.16
-e git+https://github.com/erikwijmans/etw_pytorch_utils.git@4a99f9e27f291dce25d16f06aa52eb127f3b68ed#egg=etw-pytorch-utils
future==0.18.2
gitdb==4.0.2
gitpython==3.1.0
google-auth==1.11.3
google-auth-oauthlib==0.4.1
googledrivedownloader==0.4
gql==0.2.0
graphql-core==1.1
grpcio==1.27.2
h5py==2.10.0
hydra-core==0.11.3
idna==2.9
imagesize==1.2.0
isodate==0.6.0
jinja2==2.11.1
joblib==0.14.1
jsonpatch==1.25
jsonpointer==2.0
kiwisolver==1.1.0
markdown==3.2.1
markupsafe==1.1.1
matplotlib==3.2.1
networkx==2.4
numpy==1.18.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
omegaconf==1.4.1
packaging==20.3
pandas==0.25.3
pathtools==0.1.2
pillow==7.0.0
plyfile==0.7.2
promise==2.3
protobuf==3.11.3
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytorch-metric-learning==0.9.78
pytz==2019.3
pyyaml==5.3.1
pyzmq==19.0.0
rdflib==4.2.2
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sentry-sdk==0.14.3
shortuuid==1.0.1
six==1.14.0
smmap==3.0.1
snowballstemmer==2.0.0
sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statistics==1.0.3.5
subprocess32==3.5.4
tensorboard==2.1.1
torch==1.3.1
torch-cluster==1.4.5
torch-geometric==1.3.2
-e git+https://github.com/nicolas-chaulet/torch-points.git@55c3605c963bc6f3eec700a71edebf0f8c849a01#egg=torch-points
torch-scatter==1.4.0
torch-sparse==0.4.3
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.4.2
tornado==6.0.4
tqdm==4.43.0
urllib3==1.25.8
visdom==0.1.8.9
wandb==0.8.30
watchdog==0.10.2
websocket-client==0.57.0
werkzeug==1.0.0
wheel==0.34.2; python_version >= "3"
