# Those arguments within experiment defines which model, dataset and task to be created for benchmarking
experiment:
    name: PointNet
    experiment_name: "" # Wether to use hydra naming convention for the experiment
    log_dir: "" # Wether to use hydra automatic path generation for saving training
    resume: True
<<<<<<< HEAD
=======
    name: PointNet
>>>>>>> 8527a5fafb2a2799c42648e03a257260748f27f5
    task: segmentation
    dataset: shapenet

# parameters for Weights and Biases
wandb:
    project: benchmarking
    log: False

# parameters for TensorBoard Visualization
tensorboard:
    log: True

# Those arguments defines the training hyper-parameters
training:
    shuffle: True
    num_workers: 4
    batch_size: 4
    cuda: 1
    precompute_multi_scale: False # Compute multiscate features on cpu for faster training / inference 
    epochs: 350
    optimizer: Adam
    lr : 0.001
    weight_name: 'default' # Used during resume, select with model to load from [metric_name..., default]
    use_torch_loader: True

# Those arguments defines the available datasets
data:
    shapenet: 
        name: shapenet
        dataroot: data
        category: Airplane
        normal: True
        num_points: 2048

    # This dataset can be used only for classification
    modelnet: 
        name: modelnet
        dataroot: data
        number: 10

    # This dataset can be used only for classification
    s3dis: 
        name: s3dis
        dataroot: data
        fold: 5
        class_weight_method: 'sqrt'
        num_points: 2048


defaults:
    - models: segmentation
    - sota # Contains current SOTA results on different datasets (extracted from papers !).