# Those arguments within experiment defines which model, dataset and task to be created for benchmarking
experiment:
    model_name: pointnet2_kc
    experiment_name: "" # Wether to use hydra naming convention for the experiment
    log_dir: "" # Wether to use hydra automatic path generation for saving training
    resume: True
    task: segmentation
    dataset: shapenet

# parameters for Weights and Biases
wandb:
    project: benchmarking
    log: False

# parameters for TensorBoard Visualization
tensorboard:
    log: True

# Those arguments defines the training hyper-parameters
training:
    shuffle: True
    num_workers: 8
    batch_size: 16
    cuda: 1
    precompute_multi_scale: False # Compute multiscate features on cpu for faster training / inference 
    epochs: 350
    optimizer: Adam
    lr : 0.01
    weight_name: 'default' # Used during resume, select with model to load from [metric_name..., default]

# Those arguments defines the available datasets
data:
    shapenet: 
        name: shapenet
        dataroot: data
        category: Airplane
        normal: True
        num_points: 2048

    # This dataset can be used only for classification
    modelnet: 
        name: modelnet
        dataroot: data
        number: 10

    # This dataset can be used only for classification
    s3dis: 
        name: s3dis
        dataroot: data
        fold: 5
        class_weight_method: 'sqrt'
        num_points: 1024
        FIRST_SUBSAMPLING: 0.04
        DENSITY_PARAMETER: 5.0
        KP_EXTENT: 1.0

defaults:
    - models: segmentation
    - sota # Contains current SOTA results on different datasets (extracted from papers !).