numpy
https://download.pytorch.org/whl/cpu/torch-1.3.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://s3.eu-central-1.amazonaws.com/pytorch-geometric.com/whl/torch-1.4.0/torch_scatter-latest%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://s3.eu-central-1.amazonaws.com/pytorch-geometric.com/whl/torch-1.4.0/torch_sparse-latest%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://github.com/nicolas-chaulet/torch-points/releases/download/v0.4.1/torch_points-0.4.1-cp36-cp36m-linux_x86_64.whl